#search-text {
  max-width: 400px;
}

.product-container {
  min-width: 80%;
  max-width: 100%;
}

.cart {
  min-width: 20%;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.actions:nth-child(1) button {
  width: 100%;
}
